:root {
    --size-10: 7.2rem;
    --size-20: 6rem;
    --size-30: 4.8rem;
    --size-40: 3.6rem;
    --size-50: 3rem;
    --size-60: 2.4rem;
    --size-70: 2rem;
    --size-80: 1.8rem;
    --size-90: 1.6rem;
    --size-100: 1.4rem;
    --size-110: 1.2rem;
    --size-120: 1rem;
    --size-130: 0.8rem;
}

html {
    font-size: var(--size-120);
    line-height: var(--size-80);
    font-family: sans-serif;
    background-color: #f8f8f8;
}

body {
    max-width: 800px;
    margin: auto;
}

main {
    margin: 0 auto;
    padding: var(--size-80);
}

header {
    margin: 0 auto;
    padding: var(--size-130) var(--size-80);
}

h1,
h2,
p,
ul,
li,
fieldset {
    margin: 0;
}

h1 {
    font-size: var(--size-100);
    margin-bottom: calc(1*var(--size-80));
    text-align: left;
}

h2 {
    font-size: var(--size-110);
    line-height: calc(2*var(--size-80));
}

p {
    margin-bottom: var(--size-80);
    line-height: var(--size-80);
}

a {
    color: rgb(65, 113, 153);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

article {
    padding: 1rem 1rem 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px rgb(223, 223, 223);
    border: 1px solid rgb(187, 187, 187);
}

article h2 {
    line-height: var(--size-70);
}

article h2 a {
    text-decoration: none;
}

article h2 a:hover {
    text-decoration: underline;
}

article p {
    margin: 0;
}

ul {
    margin-bottom: var(--size-80);
    line-height: var(--size-80);
}

li {
    font-size: var(--size-120);
    line-height: var(--size-80);
}