h1 {
    font-size: var(--size-80);
    margin-bottom: var(--size-80);
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.block {
    display: flex;
    margin-bottom: 2rem;
}

.content {
    width: 80%;
    padding: var(--size-80) var(--size-80);
    margin: var(--size-80) auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #ccc;
    border: 1px solid #bbb;
}

*:last-child {
    margin-bottom: 0;
}

aside {
    flex: 0 0 15%;
    min-width: 50px;
    text-align: center;
    margin-right: 2rem;
    font-size: var(--size-50);
    line-height: var(--size-50);
    padding-top: var(--size-80);
}