#generator {
    width: 80%;
    padding: var(--size-80) var(--size-80);
    margin: var(--size-80) auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px #ccc;
    border: 1px solid #bbb;
}

#generator:first-child {
    margin-top: 0;
}

#generate_button {
    width: 30%;
    display: block;
    line-height: var(--size-80);
    height: var(--size-80);
    padding: 0;
}

#result h2 {
    font-size: var(--size-130);
    line-height: var(--size-80);
    font-weight: normal;
    padding-left: 10px;
}

#result #name {
    min-height: calc(2*var(--size-80));
    line-height: calc(2*var(--size-80));
    border: 1px solid #cccccc;
    padding-left: 11px;
    margin-bottom: 0;
}

#length {
    max-width: 50px;
}